.carousel__prev,
.carousel__next {
  @include transition(background-color, 0.3s, ease-out, 0s);

  &:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-left: 2px solid var(--color-light);
    border-top: 2px solid var(--color-light);
    @include position(absolute, 0, 0, 0, 0, 0);
    @include transition(transform, 0.3s, ease-out, 0s);
  }

  &:hover {
    &:before {
      transform: scale(1.1);
    }
  }

  &--disabled {
    &:hover {
      &:before {
        transform: none;
      }
    }
  }

  svg {
    display: none;
  }
}

.carousel__prev {
  @include position(absolute, 50%, auto, 0, -20px !important, 0);
  transform: rotate(-45deg) !important;
}

.carousel__next {
  @include position(absolute, 50%, -20px, 0, auto !important, 0);
  transform: rotate(135deg) !important;
}

.special-offers {
  .carousel__prev,
  .carousel__next {
    display: block;
    &:before {
      border-left: 4px solid var(--color-black);
      border-top: 4px solid var(--color-black);
    }
  }

  .carousel__prev {
    left: -60px !important;

    @media screen and (max-width: $bp-large) {
      left: -5px !important;
    }
  }

  .carousel__next {
    right: -60px !important;

    @media screen and (max-width: $bp-large) {
      right: -5px !important;
    }
  }
}

.feedback {
  .carousel__prev,
  .carousel__next {
    display: block;
    width: 100px;
    height: 100px;
    background-color: var(--color-black);
    border-radius: 50%;

    &:before {
      inset: calc(51% - 12px) calc(47% - 12px) auto auto;
    }

    &:hover {
      background-color: var(--color-dark);
    }

    &--disabled {
      &:hover {
        background-color: var(--color-black);
      }
    }
  }

  .carousel__prev {
    left: calc(-43px - 100px) !important;
  }

  .carousel__next {
    right: calc(-43px - 100px) !important;
  }
}

.services {
  .carousel__prev {
    left: calc(-43px) !important;

    @media screen and (max-width: $bp-mobile) {
      left: calc(-5px) !important;
    }
  }

  .carousel__next {
    right: -43px !important;

    @media screen and (max-width: $bp-mobile) {
      right: -5px !important;
    }
  }
}

.top-sales,
.catalog {
  .carousel__prev {
    left: 25px !important;
  }

  .carousel__next {
    right: 25px !important;
  }
}
