:root {
  --color-light: #f0f0f0;
  --color-grey: #a8a8a8;
  --color-yellow: #ffc700;
  --color-dark: #171717;
  --color-black: #070707;
}

$font: "Montserrat", sans-serif;

$bp-large: 1280px;
$bp-medium: 1024px;
$bp-tablet: 768px;
$bp-mobile: 480px;
